.headerContainer{
  width: 90%;
  margin: 0 auto;
  padding-top: 1.2em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.buttonsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.buttonDisplayContainer{
  width: 30%;
  text-align: center;
  margin-top: 1em;
}

.moodButton{
  height: 100px;
  width: 100px;
  font-size: 1.8em;
  background-color:#C1E5BF;
  border-radius: 35px;
  margin: 0 auto;
  margin-bottom: 0.7em;
  padding-top: 25%;
}

.smallText{
  font-size: 0.4em;
}

.spaceAround{
  margin: 1em 1em;
}

.coco{
  height: 150px;;
}